@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

//COLORS
$black: #282a36;
$black-accent: #44475a;
$blue: #6272a4;
$gray: #f8f8f2;
$green: #50fa7b;
//BG's
.bg-black {
  background-color: $black;
}

.bg-black-accent {
  background-color: $black-accent;
}

.bg-black-accent-darker {
  background-color: darken($black-accent, 5%);
}

.bg-blue {
  background-color: $blue;
}

.bg-gray {
  background-color: $gray;
}

.bg-green {
  background-color: $green;
}

.rounded {
  @media (max-width: 575.98px) {
    border-radius: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  color: white;
  background-color: $black-accent;
}

.users-wrap,
.chat-wrap {
  height: 400px;
}

.chat-wrap {
  position: relative;

  .chat {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;

    //REFACTOR THIS !!!
    .msg-left {
      max-width: 75%;
      font-weight: bold;
      background-color: $black-accent;
    }
    .msg-right {
      max-width: 75%;
      font-weight: bold;
      background-color: $purple;
    }
  }
}

.chat-input {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

input {
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  color: white;
  font-weight: bold;

  &[type='submit'] {
    &:hover,
    :active {
      background-color: darken($green, 10%);
    }
  }
}
